/* 基本样式设置 */
body {
    font-family: 'MiSans', Helvetica, Arial, sans-serif;
    line-height: 1.6;
    background: #f5f5f5;
    color: #333;
    padding: 20px;
    margin: 0;
}

h1 {
    padding: 1em;
    background: lightyellow;
    color: #00695c;
    text-align: center;
}

/* 列表样式 */
ul {
    list-style: none;
    padding: 0;
    width: auto;
}

ul li {
    float: right;
    margin-top: 10px;
    border: 1px solid;
}

/* 输入框和按钮样式 */
.input-group {
    max-width: 500px;
    margin: 10px auto;
}

.input-group input[type="search"],
.input-group button {
    padding: 10px;
    box-sizing: border-box;
}

.input-group input[type="search"] {
    border: 1px solid #ddd;
    width: calc(70% - 22px);
}

.input-group button {
    width: 30%;
    cursor: pointer;
    background-color: #26a69a;
    border: none;
    color: white;
    transition: background-color 0.3s ease;
}

.input-group button:hover {
    background-color: #00796b;
}

/* 表格样式 */
table {
    width: 100%;
    border-collapse: collapse;
    background: white;
    margin: 20px 0;
}

table th, table td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

table th {
    background-color: #009688;
    color: white;
}

/* 分页导航样式 */
.pagination {
    display: flex;
    justify-content: center;
    padding: 0;
}

.pagination li {
    margin: 0 5px;
}

.pagination li a {
    text-decoration: none;
    color: #009688;
    padding: 10px 20px;
}

.pagination li.active a,
.pagination li:hover a {
    color: white;
    background-color: #009688;
}

/* Container and Rows */
.container {
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
}

.row {
    margin-bottom: 20px;
}

/* Form and Input Group */
.search-form,
.index-form {
    max-width: 500px;
    margin: auto;
}

.search-input-group {
    display: flex;
    gap: 10px;
}

.search-input,
.index-button,
.extra-button {
    flex-grow: 1;
    margin: 5px 0;
}

.search-input {
    max-width: 350px;
    flex-basis: 70%;
}

.search-button {
    max-width: 150px;
    flex-basis: 30%;
}

/* Buttons */
.btn-success {
    background-color: #4CAF50; /* Green */
    color: white;
}

.btn {
    padding: 10px;
    border: none;
    cursor: pointer;
}

.extra-button {
    max-width: 240px;
}

button:disabled {
    color: #aaa; /* 灰色文本 */
    background-color: #ccc; /* 灰色背景 */
    cursor: not-allowed; /* 显示不允许的光标 */
}